/*----------------------
         RESET          
-----------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------
        SET GENERALI        
-----------------------*/
.container{
    
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.piccont{
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-right: auto;
    position: relative;
}

header,
footer{
    color:#ffff;
}

/*----------------------
         HEADER          
-----------------------*/
header{
    background-color: #ff6900;

}

header .headcont{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    justify-content: space-between;
}

.headcont a{
    text-align: left;
    flex-grow: 1;
}

.headcont i{
    text-align: right;
    flex-grow: 1;
}

.headcont .logo{
    text-align: center;
    width: 80%;
}

.headcont .logo img{
    max-width: 20%;
}

a{
    color: #ffff;
    text-decoration: none;
}

/*----------------------
         MAIN          
-----------------------*/
main #riga1 ,
main #riga2 {
    display: flex;
    padding: 60px 0px;
    gap:20px;
}

.container .img-fluid{
    max-width:  100%;
    max-height: 640px;
}

.tag1{
    background-color: #ff0000;
    position: absolute;
    bottom: 100px;
}

.tag2{
    background-color: #008000;
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.tag1,
.tag2{
    color: #ffff;
    padding: 3px;
}

#riga2 .colonna:nth-last-child(1) .tag2{
    left: 0;
}
/*----------------------
         FOOTER          
-----------------------*/

footer{
    background-color: #1a1a1a;
}

footer .footcont{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}